<!DOCTYPE html>
<html>
<head>
	<title> Welcome To Express</title>
</head>
<body>
<button type="button"> 
<%=link_to('Sign In Here!', users_sign_in_path) %>
</button>
<button type="button">
<%=link_to('Register to Express Here!', new_user_path) %></button>

</body>
</html>
